.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* Typewriter effect from https://www.sitepoint.com/css-typewriter-effect/ by Matt Nikonorov */

.typedOut {
  overflow: hidden;
  border-right: .15em solid brown;
  border-radius: 0px;
  white-space: nowrap;
  animation: 
    typing 1s steps(20, end) forwards,
    blinking 1.2s infinite;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  from { border-color: transparent }
  to { border-color: brown; }
}